<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071865923701-8em6a2e7oeohv5r5ru6rk5pbnktob62v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071865923701-8em6a2e7oeohv5r5ru6rk5pbnktob62v</string>
	<key>API_KEY</key>
	<string>AIzaSyCD9fLyghhMgwp3oPaMeIQAUz8O_LemJ9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1071865923701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fashinnovation</string>
	<key>PROJECT_ID</key>
	<string>fashinnovationeventapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fashinnovationeventapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071865923701:ios:9f09308e4ecef2c244903c</string>
</dict>
</plist>